<affichage>
<div class="grid-item shadow-lg shadow-cyan-500/50 rounded-md pr-2 pb-1 pl-3 hover:opacity-60">
    <h3>{ props.titre }</h3>
    <img onclick="transition(this.alt)" src="{ props.image }" alt="{ props.id}" class="rounded-lg">
    <span>{ props.vote }/10</span>
    <br>
    <span class="bg-green-300 text-green-900 rounded p-0.5">{ props.genre }</span>
</div>
</affichage>